{% extends 'base.html' %}

{% block content %}
<h1>About Me</h1>
<p>Welcome to my personal website! I am currently a student taking a CIDM 3312 course in order to continue with my major of Computer Information Systems. I am now learning how to build web pages using Python and Django.</p>
<p>I try to get my work done and then spend time working on my car as I am a big car enthusiast. I have a 4th gen Pontiac Transam that I absolutley love! Im really close to graduating which is kind of excited but also nerveracking. I want to get my degree and hopefully get a job that goes along with my major.</p>
{% endblock %}